body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: black;
    position: relative;
    min-height: 100vh;
    font-size: medium;
    background: #ffffff;
}

input[type=text] {
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
    font-size: medium;
    width: 196px;
    transition: width 0.25s, font-size 0.25s;
}

input[type=text]:focus {
    transition: width 0.5s, font-size 0.5s;
    width: 300px;
    font-size: 24px;
}


input[type=submit] {
    background-color: #3662af;
    border: none;
    color: white;
    padding: 8px 78px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
}

input[type=submit] {
    margin: 8px 0 0 0;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
    vertical-align: middle !important;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

footer {
    position: absolute;
    bottom: -35px;
    width: 100%;
    height: 2.5rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

nav {
    padding-bottom: 14px;
}

div#error-block {
    border: 2px red solid;
    border-radius: 16px;
    background: red;
    color: white;
    font-weight: 700;
    width: fit-content;
    padding: 4px;
}
