<div>
    <form id="add-form" method="post" action="?command=save">
        <input type="text" name="firstName" placeholder="Eesnimi" value="{{ $_POST['firstName'] }}"> <br>
        <input type="text" name="lastName" placeholder="Perenimi" value="{{ $_POST['lastName'] }}"> <br>
        <input type="text" name="phone1" placeholder="Number" value="{{ $_POST['phone1'] }}"> <br>
        <input type="text" name="phone2" placeholder="Number" value="{{ $_POST['phone2'] }}"> <br>
        <input type="text" name="phone3" placeholder="Number" value="{{ $_POST['phone3'] }}"> <br>
        <input type="submit" name="submitButton" value="Submit">
    </form>
</div>
