<div>
    <form id="add-form" method="post" action="?command=edit_person&id={{ $person['id'] }}">
        <input type="text" name="firstName" placeholder="Eesnimi" value="{{ $person['firstName'] }}"> <br>
        <input type="text" name="lastName" placeholder="Perenimi" value="{{ $person['lastName'] }}"> <br>
        <input type="text" name="phone1" placeholder="Number" value="{{ $person['phone1'] }}"><br>
        <input type="text" name="phone2" placeholder="Number" value="{{ $person['phone2'] }}"><br>
        <input type="text" name="phone3" placeholder="Number" value="{{ $person['phone3'] }}"><br>
        <input type="submit" name="submitButton" value="Submit">
    </form>
</div>
