<div tpl-if="!$people">
    <p>No entries.</p>
</div>
<div tpl-if="$people">
    <table tpl-if="$people">
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Numbers</th>
            <th></th>
        </tr>
        <tr tpl-foreach="$people as $person">
            <td><a href="?command=edit&id={{$person->id}}">{{ $person->firstName }}</a></td>
            <td>{{ $person->lastName }}</td>
            <td>
                <span tpl-foreach="$person->phones as $number">{{ $number }}<br></span>
            </td>
            <td><a href="?command=delete&id={{$person->id}}">X</a></td>
        </tr>
    </table>
</div>
