<html lang="en" tpl-if="$template">
<head>
    <meta charset="UTF-8">
    <title>{{ $title }}</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
</head>
<body>
<nav id="menu">
    <ul>
        <li>
            <a href="?command=show_add_page" id="add-page-link">Add</a>
        </li>
        <li>
            <a href="?command=show_database_list_page" id="list-page-link">Database list</a>
        </li>
    </ul>
</nav>

<div tpl-if="$errors" id="error-block" >
    <p tpl-foreach="$errors as $error">{{ $error }}</p>
</div>
<div tpl-include="{{ $template }}"></div>
<footer>
    <p>&copy;{{ date('Y') }}</p>
</footer>
</body>
</html>
